<% content_for(:title) do -%>
New Delegation: <%= @delegation.name || '[Not yet named]' %>
<% end -%>

<h3>
  Delegation created:
</h3>
<ul>
  <li>Name: <%= @delegation.name || '[Not yet named]' %></li>
  <% if @current_user -%>
    <li>Changer: <%= @current_user.email %><% if @current_user.admin? %> <b>(Admin)</b><% end %></li>
  <% end -%>
  <li>Details can be viewed at <%= link_to(admin_delegation_url(@delegation.id), admin_delegation_url(@delegation.id)) %>.</li>
</ul>