// @import "bootswatch/journal/variables";

$brand-primary: #169fe6;

// Then bootstrap itself
@import "devise";
@import "bootstrap";

// And finally bootswatch style itself
// @import "bootswatch/journal/bootswatch";

// Whatever application styles you have go last

@import "style";

@import "options";
@import "home";
@import "chosen";
@import "delegations";
@import "bootstrap-tagsinput";
// @import "metro";
// @import "lblue";

.site-wide-alert {
  background: lighten($brand-warning, 30%);
  border-bottom: 1px solid lighten($brand-warning, 20%);
  // border-top: 1px solid lighten($brand-warning, 20%);
  color: darken($brand-warning, 20%);
  padding: 1em 0;
  margin-top: -19px;
  margin-bottom: 1em;
}

.navbar-brand {
  font-family: Baskerville, Georgia, serif;
  background: transparent image-url('ymge_stars.png') top left no-repeat;
  span.registration {
    color: #ccc;
    // font-style: italic;
  }
}

footer.content-footer {
  margin-top: 1em;
  padding: 1em 0 2em;
  background-color: #4c4c4c;
  border-top: 1px solid #222;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  .address strong {
    display: inline-block;
  }
}

