// @import "bootswatch/journal/variables";

$grid-float-breakpoint: 992px;
$brand-primary: #169fe6;
$border-radius-base: 2px;
$brand-primary: #169fe6;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-weight: 600;

@import "bootstrap/variables";

$btn-primary-border: $btn-primary-bg;
$btn-success-border: $btn-success-bg;
$btn-info-border: $btn-info-bg;
$btn-warning-border: $btn-warning-bg;
$btn-danger-border: $btn-danger-bg;

$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 3);
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 3);
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 3);

// Then bootstrap itself
@import "devise";
@import "bootstrap";

// And finally bootswatch style itself
// @import "bootswatch/journal/bootswatch";

// Whatever application styles you have go last

@import "style";

@import "options";
@import "home";
@import "chosen";
@import "delegations";
@import "bootstrap-tagsinput";
@import "ui-select";
@import "angular-block-ui.min";
// @import "metro";
// @import "lblue";

body {
  -webkit-font-smoothing: antialiased;
}

label span {
  font-weight: lighter;
  color: $gray-light;
}

.btn {
  border-bottom-width: 2px;
}

.btn-primary {
  border-bottom: 2px solid darken($btn-primary-bg, 5%);
}

.btn-success {
  border-bottom: 2px solid darken($btn-success-bg, 5%);
}

.btn-info {
  border-bottom: 2px solid darken($btn-info-bg, 5%);
}

.btn-warning {
  border-bottom: 2px solid darken($btn-warning-bg, 5%);
}

.btn-danger {
  border-bottom: 2px solid darken($btn-danger-bg, 5%);
}

.site-wide-alert {
  background: lighten($brand-warning, 30%);
  border-bottom: 1px solid lighten($brand-warning, 20%);
  // border-top: 1px solid lighten($brand-warning, 20%);
  color: darken($brand-warning, 20%);
  padding: 1em 0;
  margin-top: -20px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: Baskerville, Georgia, serif;
  background: transparent image-url('ymge_stars.png') top left no-repeat;
  span.registration {
    color: #ccc;
    // font-style: italic;
  }
}

footer.content-footer {
  margin-top: 1em;
  padding: 1em 0 2em;
  background-color: #4c4c4c;
  border-top: 1px solid #222;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  .address strong {
    display: inline-block;
  }
}

.weak {
  color: #999;
}

.green-text {
  color: $brand-success;
}

.alert.hidden {
  display: none;
}

a.disabled {
  cursor: default;
}

.list-group a.disabled {
  color: #999;
  &:hover {
    background: #fff;
  }
}

.list-group-item.disabled {
  background-color: #fff;
}
