// Place all the styles related to the delegations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select.form-control.col-sm-11 {
  @extend .col-sm-11;
}

.input-group .form-control.input-group-first {
  border-radius: 0 3px 0 0 !important;
}

.input-group .form-control.input-group-last {
  border-radius: 0 0 3px 0;
}

.weak {
  color: #999;
}

.green-text {
  color: $brand-success;
}

.alert.hidden {
  display: none;
}

a.disabled {
  cursor: default;
}

.list-group a.disabled {
  color: #999;
  &:hover {
    background: #fff;
  }
}
