// Place all the styles related to the delegations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select.form-control.col-sm-11 {
  @extend .col-sm-11;
}

select.form-control.col-sm-10 {
  @extend .col-sm-10;
}

select.form-control.col-sm-9 {
  @extend .col-sm-9;
}

.input-group .form-control.input-group-first {
  border-radius: 0 $border-radius-base 0 0 !important;
}

.input-group .form-control.input-group-last {
  border-radius: 0 0 $border-radius-base 0;
}

.advisors-form .form-group .input-group-wrapper {
  position: relative;
  .input-group {
    position: relative;
    z-index: 6;
  }
  &:hover a.delete {
    left: -100px;
  }
}

a.delete {
  position: absolute;
  margin-top: -15px;
  width: 100px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  left: 0;
  top: 50%;
  background-color: lighten($brand-danger, 30%);
  border: 1px solid lighten($brand-danger, 20%);
  color: $brand-danger;
  border-width: 1px 0 1px 1px;
  border-radius: $border-radius-base 0 0 $border-radius-base;
  text-align: center;
  line-height: 28px;
  z-index: 5;
}
