<% title = Option.get('site_title') %>
<p class="article-title">Hello <%= @resource.delegation.name || title %> Advisor!</p>

<p>You've been registered as an advisor for <%= title %>! To sign up and edit your delegation, please click the link below.</p>

<p><%= link_to 'Sign Up', accept_invitation_url(@resource, :invitation_token => @token) %></p>
